<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="Data Source=116.62.120.196,1433;Initial Catalog=NotaryNoData;User ID=sa;Password=Qlcy123;"/>
    <!--<add key="connectionstring" value="Data Source=.;Initial Catalog=NotaryNoData;User ID=sa;Password=123456;"/>-->
    <!--<add key="connectionstring" value="Data Source=192.168.1.145,1433;Initial Catalog=wygldbylj;User ID=sa;Password=Newsee888;"/>-->
    <add key="printdriver" value="Gprinter GP-1124T"/>
    <add key="printnum" value="2"/>
    <add key="signandprint" value="true"/>
  </appSettings>
</configuration>